<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="root">
       <!-- 여기에 ajax data띄워줄거야! -->
    </div>
    <input type="checkbox" onchange="ajax(this)"> <!-- (checked="true") 속성있음.-->
    <!-- this는 여기서 html객체를 이용함!! => 아주 많이 쓰임! => 변화감지 속성!  -->
    <!-- onchange : 값이 바꼈을 때 속성!  -->

    <select name="" id="">
        <option value=""></option>
    </select>
    <script>
        const root = document.querySelector('.root');
        
        let getAjaxData = async(idx) => {
            try{
                let ajaxData = await fetch(`data/product.json`)
                .then((res) => res.json())
                .then((res) => {
                    root.innerHTML = `<h2>${res[idx].name}</h2>`;
                })
            }catch(err) {
                return err;
            }
        }
        function ajax(obj) {
            obj.checked === true ? getAjaxData(1) : getAjaxData(2);
        }
    </script>
</body>
</html>